.container{
    border: 1px solid black;
    height: 300px;
    width: 600px;

    display: grid;
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 25% 100px auto;

}

#item-a{
    background-color: rgb(226, 175, 236);

    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}
#item-b{
    background-color: rgba($color: #808edd, $alpha: 0.5);

    grid-column-start: 1;
    grid-column-end: span col4-start;
    grid-row-start: 2;
    grid-row-end: span 2;
}
#item-c{
    background-color: rgb(235, 197, 140);

    grid-column: 3/span 2;
    grid-row: 3/4
    // förkortning - enklare
}




.container-2{
    border: 1px solid black;
    height: 300px;
    width: 600px;

    display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    
    // positionerar horisontellt
    justify-items: stretch;
    // positionerar vertikalt
    align-items: stretch;
    // align-items och justify-items tsm.
    place-items: stretch stretch;


}


// gäller för alla klasser som börjar med order box
[class*="box"]{
    border: 1px solid grey;

}

.box8{
    justify-self: center;
    align-self: center;
    // align och justify-self tsm.
    place-self: center center;
}



.container-3{
    border: 1px solid black;
    height: 300px;
    width: 600px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto; //default
    grid-template-areas: 
        "header header header sidebar"
        "content content content sidebar"
        "footer footer footer ." //punkt = tomt, måste vara lika många värden för alla rader annars kolapps
    ;
}

header{
    background-color: salmon;
    grid-area: header; //nyckel för att grid-template-area ovan ska funka
}
main{
    background-color: rgb(236, 236, 236);
    grid-area: content;
}
aside{
    background-color: rgb(138, 198, 255);
    grid-area: sidebar;
}
footer{
    background-color: rgb(88, 127, 185);
    grid-area: footer;
}